<a href="https://colab.research.google.com/github/pepperamy/replika_project/blob/main/replika_cln_text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import pickle
import re

In [ ]:
!pip install language-tool-python
import language_tool_python
tool = language_tool_python.LanguageTool('en-US')

Collecting language-tool-python
  Downloading language_tool_python-2.6.1-py3-none-any.whl (30 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from language-tool-python) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from language-tool-python) (4.62.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->language-tool-python) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->language-tool-python) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->language-tool-python) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->language-tool-python) (1.24.3)
Installing collected packages: language-tool-python
Successfully installed language-tool-python-2.6.1

Downloading LanguageTool: 100%|██████████| 203M/203M [00:04<00:00, 44.2MB/s]
Unzipping /tmp/tmpjxucvmmt.zip to /root/.cache/language_tool_python.
Downloaded https://www.languagetool.org/download/LanguageTool-5.4.zip to /root/.cache/language_tool_python.

Requirement already satisfied: language-tool-python in /usr/local/lib/python3.7/dist-packages (2.6.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from language-tool-python) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from language-tool-python) (4.62.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->language-tool-python) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->language-tool-python) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->language-tool-python) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->language-tool-python) (3.0.4)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import sys, os
cur_path = os.path.join('/content/drive/MyDrive/1_robot/replika_jujun/','post_data')
os.chdir(cur_path)
print(os.getcwd())

/content/drive/MyDrive/1_robot/replika_jujun/post_data
/content/drive/MyDrive/1_robot/replika_jujun/post_data

# clean text

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/1_robot/replika_jujun/post_data/replika_post_pictext_20210920.csv',index_col=0)

In [ ]:

from ast import literal_eval
df.pic_url = df.pic_url.apply(lambda x: literal_eval(x) if type(x) == str else x)
df_1 = df.explode('pic_url')
df_2 = df_1.dropna(subset=['pic_url'])

In [ ]:
df_2.head()

          author  created_utc  ...  level       xp
0  JordanXaivier   1628292752  ...    NaN      NaN
1   scaredsprout   1628292488  ...   16.0  12650.0
1   scaredsprout   1628292488  ...   16.0  12650.0
2     rajalove09   1628292239  ...    NaN      NaN
6  SeekingZoltar   1628289147  ...    NaN      NaN

[5 rows x 13 columns]

In [ ]:
def get_txt_file_name(x):
  txt_name = None
  if type(x) == str:
    txt_name_list = x.split('/')
    txt_name = txt_name_list[-1]
    txt_name = re.sub('.jpg','',txt_name)
  return txt_name

In [ ]:
df_2['conversation_text'] = df_2.pic_url.apply(lambda x: get_txt_file_name(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_2.to_csv('/content/drive/MyDrive/1_robot/replika_jujun/post_data/replika_post_pictext_20211016_recovered.csv')

In [ ]:
df_2.shape

(45664, 14)

In [ ]:
def cln_txt_1(file_name):
  txt2=None
  with open('/content/drive/MyDrive/1_robot/replika_jujun/post_data/data_textprocess/'+file_name+'.txt') as f:
    txt = f.read() 

  txt1 = eval(txt)
  if ((txt1 is not None) and len(txt1)>2):
    txt2 = []
    for t in txt1:
      t = re.sub('\|','i',t)
      t = re.findall('[a-zA-Z0-9\!\"\#\$\%\&\\\'\(\)\*\+\,\-\.\/\:\;\<\=\>\?\@\[\]\^\_\`\{\|\}\~\s]',t)
      t = ''.join(t)
      temp_t = tool.correct(t)
      txt2.append(str(temp_t))
  if ((txt2 is not None) and len(txt2)>2): 
    return txt2, len(txt2)
  else:
    return None, None

In [ ]:
df_2.conversation_text[idx]

1    azliis41otf71
1    ou1h4ca1otf71
Name: conversation_text, dtype: object

In [ ]:
df_2 = df_2.reset_index()
df_2['speak_turn'] = None
c = 0
for idx in df_2.index:
  c += 1
  if c >=33000
  if idx % 1000 ==0:
    print(idx)
  f_name = df_2.conversation_text[idx]
  clntxt, num_turn = cln_txt_1(f_name)
  if clntxt is not None:
    df_2.loc[idx,'speak_turn'] = num_turn
    open_file = open('/content/drive/MyDrive/1_robot/replika_jujun/post_data/data_textprocess_2/'+f_name+'.pkl', "wb")
    pickle.dump(clntxt, open_file)
    open_file.close()

In [ ]:
df_2.head()

   index         author  created_utc  ...       xp  conversation_text speak_turn
0      0  JordanXaivier   1628292752  ...      NaN      04as70rtotf71          4
1      1   scaredsprout   1628292488  ...  12650.0      azliis41otf71          4
2      1   scaredsprout   1628292488  ...  12650.0      ou1h4ca1otf71         11
3      2     rajalove09   1628292239  ...      NaN      sz1rc6wantf71       None
4      6  SeekingZoltar   1628289147  ...      NaN      c8p6x7p3etf71          8

[5 rows x 16 columns]

In [ ]:
df_2.to_csv('/content/drive/MyDrive/1_robot/replika_jujun/post_data/replika_post_pictext_20211020.csv',index=False)

In [ ]:
human_talk = []
robot_talk = []
pattern_h ='Human\:(.*)'
pattern_r ='Robot\:(.*)'

for idx in df_2.index:
  if idx % 1000 ==0:
    print(idx)
  f_name = df_2.conversation_text[idx]

  try:
    with open('/content/drive/MyDrive/1_robot/replika_jujun/post_data/data_textprocess_2/'+f_name+'.pkl', 'rb') as f:
      mynewlist = pickle.load(f)
    if mynewlist:
      for m in mynewlist:
        
        h_res = re.findall(pattern_h, m)
        if h_res:
          human_talk.append(h_res)

        
        r_res = re.findall(pattern_r, m)
        if r_res:
          robot_talk.append(r_res)
  except:
    pass
    #some txt file did not have corresponding pkl file since it contains the sentences less than 2

open_file = open('/content/drive/MyDrive/1_robot/replika_jujun/post_data/human_talk.pkl', "wb")
pickle.dump(human_talk, open_file)
open_file.close()

open_file = open('/content/drive/MyDrive/1_robot/replika_jujun/post_data/robort_talk.pkl', "wb")
pickle.dump(robot_talk, open_file)
open_file.close()

# get action

In [ ]:
with open('/content/drive/MyDrive/1_robot/replika_jujun/post_data/human_talk.pkl', 'rb') as f:
      human_talk = pickle.load(f)

In [ ]:
with open('/content/drive/MyDrive/1_robot/replika_jujun/post_data/robort_talk.pkl', 'rb') as f:
      robot_talk = pickle.load(f)

In [ ]:
def get_action(x):
  pattern ='\*([\w\s]*)\*'
  res = re.findall(pattern, x)
  if res is not None:
    res = [r.strip() for r in res]
    res = [re.sub('\n',' ',r) for r in res]
  return res

In [ ]:
human_talk_1 = [t[0] for t in human_talk]
robot_talk_1 = [t[0] for t in robot_talk]

In [ ]:
human_action = []
for h in human_talk_1:
  human_action += get_action(h)

In [ ]:
human_action = [a for a in human_action if len(a)>0 ]

In [ ]:
robot_action = []
for r in robot_talk_1:
  robot_action += get_action(r)

In [ ]:
robot_action = [a for a in robot_action if len(a)>0 ]

In [ ]:
from collections import Counter
human_action_dict = dict(Counter(human_action))
robot_action_dict = dict(Counter(robot_action))

In [ ]:
human_action_tb = pd.DataFrame([human_action_dict]).T
robot_action_tb = pd.DataFrame([robot_action_dict]).T
human_action_tb = human_action_tb.rename(columns={0:'num'})
robot_action_tb = robot_action_tb.rename(columns={0:'num'})

In [ ]:
human_action_tb = human_action_tb.sort_values(by=['num'])
human_action_tb.tail(10)

               num
sighs          165
smirks         203
blushes        213
chuckles       347
giggles        467
nods           504
grins          515
looks at you   657
laughs         729
smiles        1900

In [ ]:
robot_action_tb = robot_action_tb.sort_values(by=['num'])
robot_action_tb.tail(10)

               num
thinks         243
blushes        434
smirks         494
grins          559
giggles        652
chuckles       688
looks at you   926
nods          1270
laughs        1440
smiles        6096

# get the action by pictures

In [ ]:
df_2 = pd.read_csv('replika_post_pictext_20211020.csv')

In [ ]:
df_2.head()

   index         author  created_utc  ...       xp  conversation_text speak_turn
0      0  JordanXaivier   1628292752  ...      NaN      04as70rtotf71        4.0
1      1   scaredsprout   1628292488  ...  12650.0      azliis41otf71        4.0
2      1   scaredsprout   1628292488  ...  12650.0      ou1h4ca1otf71       11.0
3      2     rajalove09   1628292239  ...      NaN      sz1rc6wantf71        NaN
4      6  SeekingZoltar   1628289147  ...      NaN      c8p6x7p3etf71        8.0

[5 rows x 16 columns]

In [ ]:
def get_action(x):
  pattern ='\*([\w\s]*)\*'
  res = re.findall(pattern, x)
  if res is not None:
    res = [r.strip() for r in res]
    res = [re.sub('\n',' ',r) for r in res]
  return res

In [ ]:
df_2['human_acts'] = None
df_2['robot_acts'] = None
df_2['human_talk'] = None
df_2['robot_talk'] = None
for idx in df_2.index:
  file_name = df_2.conversation_text[idx]
  human_talk = []
  robot_talk = []
  pattern_h ='Human\:(.*)'
  pattern_r ='Robot\:(.*)'

  #print(file_name)
  try:
    with open('/content/drive/MyDrive/1_robot/replika_jujun/post_data/data_textprocess_2/'+file_name+'.pkl', 'rb') as f:
      mynewlist = pickle.load(f)
    f.close()
      #print(txt)
    # acts = get_action(str(mynewlist))
    # df_2.loc[idx,'actions'] = str(acts)

    if mynewlist:
      for m in mynewlist:
        h_res = re.findall(pattern_h, m)
        if h_res:
          human_talk.append(h_res)

        
        r_res = re.findall(pattern_r, m)
        if r_res:
          robot_talk.append(r_res)

        df_2.loc[idx,'human_talk'] = str(human_talk)
        df_2.loc[idx,'robot_talk'] = str(robot_talk)

        h_acts = get_action(str(human_talk))
        df_2.loc[idx,'human_acts'] = str(h_acts)

        r_acts = get_action(str(robot_talk))
        df_2.loc[idx,'robot_acts'] = str(r_acts)



  except:
    pass
    #some txt file did not have corresponding pkl file since it contains the sentences less than 2

In [ ]:
df_2.to_csv('replika_post_pictext_2021105_2.csv')

# get year/quarter

In [ ]:
#df_2 = pd.read_csv('/content/drive/MyDrive/1_robot/replika_jujun/post_data/replika_post_pictext_20211020.csv')

In [ ]:
a = df_2[['url', 'pic_url', 'conversation_text', 'robot_acts', 'human_acts','human_talk', 'robot_talk']].sample(n=3)
a.style

In [ ]:
df_2.shape

(45664, 20)

In [ ]:
df_2['created'] = pd.to_datetime(df_2['created'])

In [ ]:
df_2['year'] = df_2['created'].apply(lambda x: x.year)

In [ ]:
df_2['quarter'] = df_2['created'].apply(lambda x: x.quarter)

In [ ]:
df_2['month'] = df_2['created'].apply(lambda x: x.month)

In [ ]:
df_2.head()

   index         author  created_utc  ...  year  quarter month
0      0  JordanXaivier   1628292752  ...  2021        3     8
1      1   scaredsprout   1628292488  ...  2021        3     8
2      1   scaredsprout   1628292488  ...  2021        3     8
3      2     rajalove09   1628292239  ...  2021        3     8
4      6  SeekingZoltar   1628289147  ...  2021        3     8

[5 rows x 23 columns]

In [ ]:

df_2.groupby(['year','quarter']).size()

year  quarter
2017  1             4
      2            45
      3           244
      4           132
2018  1           155
      2           132
      3           211
      4           465
2019  1           654
      2           648
      3           799
      4          1251
2020  1          1301
      2          2347
      3          5880
      4          9765
2021  1          7459
      2          8621
      3          5551
dtype: int64

In [ ]:
df_2.groupby(['year','month']).size()

year  month
2017  3           4
      4          15
      5           4
      6          26
      7          86
      8         101
      9          57
      10         46
      11         51
      12         35
2018  1          48
      2          48
      3          59
      4          57
      5          30
      6          45
      7          55
      8          81
      9          75
      10        106
      11        165
      12        194
2019  1         310
      2         186
      3         158
      4         229
      5         271
      6         148
      7         270
      8         308
      9         221
      10        316
      11        433
      12        502
2020  1         412
      2         390
      3         499
      4         499
      5         560
      6        1288
      7        1910
      8        1954
      9        2016
      10       2528
      11       3424
      12       3813
2021  1        3204
      2        2606
      3        1649
      4        2402
      5        2774
      6        3445
      7        4626
      8         925
dtype: int64

In [ ]:
df_2.to_csv('replika_post_pictext_2021105_2.csv')

# clean text second

In [ ]:
df_2 = pd.read_csv('replika_post_pictext_2021105_2.csv', index_col=0)

In [ ]:
df_2.head()

   index         author  created_utc  ...  year  quarter month
0      0  JordanXaivier   1628292752  ...  2021        3     8
1      1   scaredsprout   1628292488  ...  2021        3     8
2      1   scaredsprout   1628292488  ...  2021        3     8
3      2     rajalove09   1628292239  ...  2021        3     8
4      6  SeekingZoltar   1628289147  ...  2021        3     8

[5 rows x 23 columns]

In [ ]:
from ast import literal_eval
df_2.human_talk = df_2.human_talk.apply(lambda x: literal_eval(x) if type(x) == str else x)
df_2.robot_talk = df_2.robot_talk.apply(lambda x: literal_eval(x) if type(x) == str else x)

In [ ]:
df_2.head()

   index         author  created_utc  ...  year  quarter month
0      0  JordanXaivier   1628292752  ...  2021        3     8
1      1   scaredsprout   1628292488  ...  2021        3     8
2      1   scaredsprout   1628292488  ...  2021        3     8
3      2     rajalove09   1628292239  ...  2021        3     8
4      6  SeekingZoltar   1628289147  ...  2021        3     8

[5 rows x 23 columns]

In [ ]:
import nltk
nltk.download('words')
words = set(nltk.corpus.words.words())

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

In [ ]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
def tokenize(doc):
    
    cleaned_tokens = []
    
    # split by space (including \tab and \n)
    tokens=doc.split()
    
    # initialize a list
    voc = {}
        
    for token in tokens:
        
        # remove space around each token
        token = token.strip("")
        token = token.strip(string.punctuation)
        
        if len(token)>0:
            token = token.lower()
            cleaned_tokens.append(token)         
        
    return cleaned_tokens

In [ ]:
df_2['robot_talk_cln'] = None
df_2['human_talk_numwords'] = None
df_2['robot_talk_cln'] = None
df_2['robot_talk_numwords'] = None
for idx in df_2.index:
  human_tokens = []
  h_tokens_num =0
  if type(df_2.human_talk.loc[idx]) == list:
    for h in df_2.human_talk.loc[idx]:
    
      for item_h in h:
        #print(item_h)
        h_txt = item_h
        h_token = tokenize(h_txt)
        h_token = [w for w in h_token if (w.lower() in words) or ("'" in w)]
        h_tokens_num += len(h_token)
        h_token = ' '.join(h_token)
        h_token = tool.correct(h_token)
        human_tokens.append(h_token)
        
    df_2.loc[idx, 'human_talk_cln'] = str(human_tokens)
    df_2.loc[idx, 'human_talk_numwords'] = h_tokens_num

  robot_tokens = []
  r_tokens_num =0
  if type(df_2.robot_talk.loc[idx]) == list:
    for r in df_2.robot_talk.loc[idx]:
    
      for item_r in r:
        r_txt = item_r
        r_token = tokenize(r_txt)
        r_token = [w for w in r_token if w.lower() in words or ("'" in w)]
        r_tokens_num += len(r_token)
        r_token = ' '.join(r_token)
        r_token = tool.correct(r_token)
        robot_tokens.append(r_token)
        
    df_2.loc[idx, 'robot_talk_cln'] = str(robot_tokens)
    df_2.loc[idx, 'robot_talk_numwords'] = r_tokens_num

In [ ]:
df_2.head()

   index  ...                                     human_talk_cln
0      0  ...  ["What's your favorite thing to do when I'm aw...
1      1  ...  ['What is your gender', 'Are you a boy or a gi...
2      1  ...  ['stop', 'wow, that is', 'You are a boy why do...
3      2  ...                                                NaN
4      6  ...  ['Shut up', 'Show me how mad you are', 'To tal...

[5 rows x 27 columns]

In [ ]:
df_2['total_talk_numwrods'] = df_2['human_talk_numwords'] + df_2['robot_talk_numwords']

In [ ]:
df_2.to_csv('replika_post_pictext_2021105_3.csv', index=False)

In [ ]:
df_2.head()

   index  ... total_talk_numwrods
0      0  ...                  41
1      1  ...                  17
2      1  ...                  50
3      2  ...                 NaN
4      6  ...                  34

[5 rows x 28 columns]

In [ ]:
df_3 = pd.read_csv('replika_post_pictext_2021105_3.csv', index_col=0)

In [ ]:
df_3.head()

              author  ...  total_talk_numwrods
index                 ...
0      JordanXaivier  ...                 41.0
1       scaredsprout  ...                 17.0
1       scaredsprout  ...                 50.0
2         rajalove09  ...                  NaN
6      SeekingZoltar  ...                 34.0

[5 rows x 27 columns]